@import './variables';

header {
  margin: auto;
  width: 25%;
  height: 75px;
  border: solid 5px orangered;
  border-radius: 10px;
  text-align: center;
  background-color: $accentColor;
  color: $backgroundColor;
  h1 {
    position: relative;
    font-weight: 800;
    font-size: 3rem;
    margin: auto;
    text-decoration: underline;
  }
  p {
    font-size: 1.2rem;
    color: yellow;
    font-weight: bold;
  }
}