main {
  margin: auto;
  width: 25%;
  text-align: center;
  background-color: lightblue;
  border: solid black 5px;
  border-radius: 10px;
}
button {
  background-color: blue;
  height: 35px;
  width: 135px;
  font-size: 1em;
  color: white;
  border: solid black 3px;
  border-radius: 10px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 7px;
}
input {
  height: 35px;
  width: 135px;
  border: solid black 3px;
  border-radius: 10px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 7px;
}
h3, h4{
  margin: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
}
.positive {
  margin: auto;
  display: block;
  width: 100px;
  border: solid yellow 5px;
  border-radius: 10px;
  background-color: seagreen;
  color: white;
  font-size: 3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.zero {
  margin: auto;
  display: block;
  width: 100px;
  border: solid yellow 5px;
  border-radius: 10px;
  background-color: slateblue;
  color: white;
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
